/* POLICE */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');


/* GLOBAL desktop */

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    overflow-x: hidden;
}

.container {
    max-width: 1600px;
    width: calc(100% - (2 * 55px));
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: unset;
}


/* HEADER */

header {
    padding-bottom: 25px;
    /* border-bottom: 1px solid #F2F2F2; */
    box-shadow: 0px 2px 3px #F2F2F2;
    background-color: rgb(253, 253, 253);
}

header img {
    margin: 30px 10px 0px;  
}

header img:hover {
    opacity: 0.85;;
}

#logo-nav-wrapper {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

nav li {
    padding: 40px 0px 20px;
    /* latéral 35px mis à 0px fixé par balise a */
    border-top: 3px solid transparent;
    font-size: 16px;
}

nav li a {
    padding: 40px 35px 20px;
    /* le lien doit remplir le parent li */
}

nav li:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

/* barre de recherche */

form h1 {
    font-weight: 700;
    font-size: 22px;
    margin: 20px 0 0;
}

form p {
    margin: 10px 0 20px;
}

#search {
    display: flex;
    width: fit-content;
    border-radius: 17px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 4px 12px rgb(0 0 0 / 7.5%);
}

#locate {
    padding: 15px 18px 13px;
    background-color: #F2F2F2;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    font-size: 18px;
}

#locate:hover {
    cursor: pointer;
    opacity: 0.6;
}

#search input[type=text] {
    padding: 14px 18px;
    font-weight: 600;
    font-size: 17px;
    border: 2px solid #F2F2F2;
    border-right-color: transparent;
    border-left-color: transparent;
    width: 220px;
}

#search input[type=text]:focus {
    outline: none;
    border: 2px solid rgb(175, 175, 175);
    border-radius: 3px;
    background-color: rgb(254, 254, 247);
    box-shadow: inset 0 0 1px rgb(175, 175, 175);
}

#search button {
    padding: 14px 18px;
    background-color: #0065FC;
    color: white;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    border: none;
    font-size: 17px;
    font-weight: 600;
}

#search button:hover {
    cursor: pointer;
    opacity: 0.8;
}

#search button i {
    display: none;    
}


/* MAIN */

/* Filtres */

#filters {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    padding: 15px 0 15px;
    flex-wrap: wrap;
}

#filters h4 {
    font-weight: 700;
    /* font-size: 17px; */
    margin-right: 10px;
}

.filter {
    display: flex;
    align-items: center;
    border: 2px solid rgb(0 0 0 / 15%);
    height: 46px;
    border-radius: 23px;
    margin: 10px 0 10px 24px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 4px 12px rgb(0 0 0 / 7.5%);
    font-size: 16px;
}

.filter:hover {
    cursor: pointer;
    opacity: 0.7;
}

.filter-icon-wrapper {
    height: 46px;
    width: 46px;
    border-radius: 50%;
    background-color: #DEEBFF;
    color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 2px;
    font-size: 19px;
}

.filter-text-wrapper {
    padding: 0 20px 0 10px ;
}

/* Info */

#number {
    display: flex;
    align-items: center;
    padding: 10px 0 20px;
}

#info-wrapper {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0 0 0 / 15%);
    border-radius: 50%;
    color: #0065FC;
    font-weight: 700;
    font-size: 12px;
    flex-shrink: 0;
}

#number p {
    margin-left: 10px;
}

/* HEBERGEMENTS */

/* Layout */

#accomodations {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;   
}

#filtered {
    flex: 2.3;
}

#popular {
    flex: 1;
    margin-left: 40px;
}

/* Général */

#accomodations section {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 41px 40px 46px;
}

.accomodation {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 4px 12px rgb(0 0 0 / 7.5%);
}

#accomodations h2 {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 23px;
}

.accomodation:hover {
    opacity: 0.85;
    cursor: pointer;
}

.accomodation img {
    padding: 5px;
    object-fit: cover;
}

.accomodation-text-rating-wrapper {
    padding: 1px 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.accomodation p {
    padding-top: 5px;
    font-size: 14px;
}

.night-price-wrapper {
    display: flex;
}

.night-price-wrapper p:first-of-type {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.rating {
    padding: 8px 0;
    font-size: 12px;
    letter-spacing: -1px;
}

.accomodation h5 {
    font-weight: 700;
    font-size: 15px;
}

.accomodation i {
    color: #0065FC;
}

i.empty-star {
    color: rgb(0 0 0 / 15%);
}

/* Filtrés */

#filtered-wrapper {
    height: 430px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}


#filtered .accomodation {
    height: calc((100% - 30px )/ 2);
    width: calc((100% - (2 * 30px)) / 3);
}

#filtered .accomodation img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 62%;    
}

#filtered .accomodation-text-rating-wrapper {
    height: 38%;
}

#filtered h5 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#more {
    font-weight: 700;
    font-size: 18px;
    margin-top: 18px;
}

#more:hover {
    opacity: 0.8;
    cursor: pointer;
}

#more span {
    font-size: 36px;
    position: relative;
    bottom: -7px;
    left: -4px;
}

/* Populaires */

#accomodations #popular {       
    padding: 41px 40px 40px;
}

#popular h2 {
    display: flex;
    justify-content: space-between;
}

#popular h2 i {
    font-size: 20px;
}

#popular-wrapper {
    height: calc(100% - 26px - 21px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#popular .accomodation {
    display: flex;
    height: calc((100% - 70px) /3);
}

#popular .accomodation img {
    width: 40%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#popular .accomodation-text-rating-wrapper {
    padding: 15px 15px 10px 10px;
    width: 60%;
}

#popular .rating {
    padding: 8px 0 4px;
}


/* ACTIVITES */

#attractions {
    padding: 40px 0 60px;
}

#attractions h2 {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 22px;
}

#attractions-wrapper {
    display: flex;
    height: 445px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.attraction {
    width: calc((100% - (3 * 45px)) / 4);
    border-radius: 20px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 4px 12px rgb(0 0 0 / 7.5%);
}

.attraction:hover {
    cursor: pointer;
    opacity: 0.85;
}

.attraction img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: calc(100% - 55px);
    object-fit: cover;
    vertical-align: bottom;
}

.attraction h5 {
    font-weight: 700;
    font-size: 16px;
    padding: 0 20px;
    height: 55px;
    line-height: 55px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.full-height {
    height: 100%;
}

.fifty-nine-percent-height {
    height: calc(0.59 * (445px - 45px));
}

.forty-one-percent-height {
    height: calc(0.41 * (445px - 45px));
}

.forty-height-percent-height {
    height: calc(0.48 * (445px - 45px));
}

.fifty-two-percent-height {
    height: calc(0.52 * (445px - 45px));
}

/* FOOTER */

footer {
    background-color: #F2F2F2;
}

#footer-wrapper {
    display: flex;
}

footer section {
    width: 33%;
    padding: 45px 40px 60px 0;
}

footer h3 {
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 12px;
}

footer li {
    font-size: 16px;
    padding: 4px 0;
    margin: 4px 0;
}

footer li:hover {
    cursor: pointer;
    opacity: 0.7;   
}


/* BREAKPOINT laptop */

@media only screen and (max-width: 1280px) {

    /* marges du cardre global */

    .container {
        width: calc(100% - (2 * 40px));
    }

    #popular {
        margin-left: 40px;
    }

    /* espacements intérieurs hébergements */

    #accomodations section {
        padding: 31px 20px 36px;
    }

    #accomodations #popular {
        padding: 31px 20px 30px;
    }

    #filtered .accomodation {
        width: calc((100% - (2 * 20px)) / 3);
        height: calc((100% - 20px) / 2);
    }

    #filtered-wrapper {
        height: calc(430px - (35px - 20px));
    }

    #popular .accomodation {
        height: calc((100% - (2 * 20px)) /3);
    }

}


/* BREAKPOINT tablette paysage */

@media only screen and (max-width: 1080px) {

    /* marges du cadre global */

    .container {
        width: calc(100% - (2 * 20px));
    }

    #popular {
        margin-left: 20px;
    }

    /* marges logo + navigation */

    header img {
        margin: 15px 5px 0px;
    }

    nav li {
        padding: 30px 0px 15px;
    }

    /* centrage barre de recherche */
    
    form {
        text-align: center;
    }

    #search {
        margin: 0 auto;
    }

    /* marges filtres/hébergements */

    #filters {
        padding: 15px 0 10px;
    }

    #accomodations {
        padding: 10px 0;
    }

    /* disposition hébergements */

    #accomodations {
        flex-direction: column-reverse;
    }

    #popular-wrapper {
        flex-direction: row ;
    }

    #popular {
        margin-left: 0;
        margin-bottom: 20px;
    }
    
    /* espacements + dimensions intérieurs hébergements */

    #accomodations section, #accomodations #popular {
        padding: 20px;
    }

    #accomodations h2 {
        margin-bottom: 20px;
    }

    #filtered .accomodation {
        width: calc((100% - (2 * 20px)) / 3);
        height: calc((100% - 20px) / 2);
    }

    #filtered-wrapper {
        height: calc(430px - (35px - 20px) + 100px);
    }

    #popular .accomodation {
        height: 130px;
        width: calc((100% - (2 * 20px)) / 3);
    }

    #more {
        margin-top: 8px;
    }

    /* espaces intérieur + extérieur activités */

    #attractions {
        padding: 30px 0 40px;
    }

    .attraction {
        width: calc((100% - (3 * 20px)) / 4);
    }

    .fifty-nine-percent-height {
        height: calc(0.59 * (445px - 20px));
    }
    
    .forty-one-percent-height {
        height: calc(0.41 * (445px - 20px));
    }
    
    .forty-height-percent-height {
        height: calc(0.48 * (445px - 20px));
    }
    
    .fifty-two-percent-height {
        height: calc(0.52 * (445px - 20px));
    }

    /* footer */

    #footer-wrapper {
        margin-left: 50px;
    }

}


/* BREAKPOINT tablette portrait */

@media only screen and (max-width: 991px) {
    
    /* réorganisation populaires sur 2 colonnes */
    
    #popular .accomodation {
        height: 130px;
        width: calc((100% - (1 * 20px)) / 2);
    }
    
    #popular-wrapper {
        flex-wrap: wrap;
    }
    
    #popular .accomodation:last-of-type {
        margin-top: 20px;
    }    

    /* réorganisation filtrés 2 colonnes */

    #filtered .accomodation {
        height: calc((100% - (2 * 20px)) / 3);
        width: calc((100% - 20px) / 2);
    }

    #filtered-wrapper {
        height: calc(430px - (35px - 20px) + 400px);
    }    
    
    /* réorganisation activités sur 3 colonnes */

    .attraction {
        width: calc((100% - (2 * 20px)) / 3);
    }

    .full-height,
    .fifty-nine-percent-height,
    .forty-one-percent-height,
    .forty-height-percent-height,
    .fifty-two-percent-height {
        height: calc(0.5 * (445px - 20px));
    }

}


/* BREAKPOINT mobile paysage */

@media only screen and (max-width: 767px) {

    /* marges + background hébergements */

    #accomodations section {
        border-radius: unset;
        margin: 0 -20px;
    }

    #accomodations section:last-of-type {
        margin: 0 -20px 20px;
    }

    #accomodations section:first-of-type {
        background-color: unset;
    }

    /* réorganisation activités 2 colonnes */

    #attractions-wrapper {
        height: fit-content;
        flex-direction: row;
    }

    .attraction {
        width: calc((100% - 20px) / 2);
        margin-bottom: 20px;
    }

    #attractions {
        padding: 15px 0 20px;
    }
    
    /* réorganisation footer 2 colonnes */

    #footer-wrapper {
        flex-wrap: wrap;
        margin-left: 40px;
        padding: 15px 0 30px;
    }

    footer section {
        width: 50%;
        padding: 30px 0 15px;
    }

}


/* BREAKPOINT mobile portrait */

@media only screen and (max-width: 574px) {

    /* réorganisation logo/nav */

    #logo-nav-wrapper {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        width: 50vw;
        padding: 18px 0px 15px;
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
        text-align: center;
    }

    nav li a {
        padding: 18px 20px 15px;
    }

    nav li:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }

    /* changement du bouton de recherche */

    #search input[type=text] {
        width: calc(100% - 102px);
    }

    #search button span {
        display: none;    
    }

    #search button i {
        display: block;
    }
    
    /* réorganisation filtres */

    #filters h4 {
        width: 100%;
        margin-bottom: 8px;
    }

    .filter {
        margin: 5px;
    }

    /* hébergements sur une colonne */

    #filtered .accomodation, #popular .accomodation {
        width: 100%;
        margin: 5px 0;
    }

    #popular .accomodation:last-of-type {
        margin: 5px 0;
    }

    #accomodations #popular {
        padding: 30px 20px;
    }

    #filtered .accomodation {
        height: 240px;
    }

    #filtered-wrapper {
        height: unset;
    }

    /* activités sur une colonne */
    
    .attraction {
        width: 100%;
        margin-bottom: 20px;
    }

    /* footer */

    #footer-wrapper {
        flex-direction: column;
        margin-left: 30px;
    }

    footer section {
        width: 100%;
    }

}

